{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    $(document).ready(function () {
        $('#txtBirthday').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            mask: true
        });

        $('#frmAddEmployee').on('submit', function (e) {
            e.preventDefault();
            const username = $('#txtUsername').val();
            const email = $('#txtEmail').val();
            const password = $('#txtPassword').val();
            const passwordConfirm = $('#txtPasswordConfirm').val();
            const fullname = $('#txtName').val();

            if (username.length === 0) {
                alert('username is required');
                return;
            }

            if (password.length === 0) {
                alert('password is required');
                return;
            }

            if (password !== passwordConfirm) {
                alert('Mật khẩu và xác nhận mật khẩu không khớp.');
                return;
            }

            if (fullname.length === 0) {
                alert('fullname is required');
                return;
            }

            $.getJSON('/account/is-available?username=' + username, function (data) {
                if (data) {
                    alert('This username have been used for another account. Please try another email.');
                } else {
                    $.getJSON('/account/is-available-email?email=' + email, function (data) {
                        if (data) {
                            alert('This email have been used for another account. Please try another email.');
                        } else {
                            $('#frmAddEmployee').off('submit').submit();  // Corrected selector syntax
                        }
                    });
                }
            });
        });
    });
</script>
{{/section}}


<form id="frmAddEmployee" action="" method="post">
    <div class="container col-6" style="padding: 40px;">
        <div class="card">
            <div class="card-header">
                <h4>Thêm writer</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="txtUsername">Username</label>
                    <input type="text" name="username" id="txtUsername" class="form-control" placeholder=""
                        value="{{this.employee.employee_name}}">
                </div>

                <div class="form-group">
                    <label for="txtPassword">Mật khẩu</label>
                    <input type="password" name="password" id="txtPassword" class="form-control" placeholder=""
                        value="{{this.employee.password}}">
                </div>

                <div class="form-group">
                    <label for="txtPasswordConfirm">Xác nhận mật khẩu</label>
                    <input type="password" id="txtPasswordConfirm" class="form-control" placeholder=""
                        value="{{this.employee.password}}">
                </div>

                <div class="form-group">
                    <label for="txtName">Họ tên</label>
                    <input type="text" name="fullname" id="txtName" class="form-control" placeholder=""
                        value="{{this.employee.employee_name}}">
                </div>

                <div class="form-group">
                    <label for="txtEmail">Email</label>
                    <input type="text" name="email" id="txtEmail" class="form-control" placeholder=""
                        value="{{this.employee.email}}">
                </div>

                <div class="form-group">
                    <label for="txtPhone">Phone number</label>
                    <input type="text" name="phone_number" id="txtPhone" class="form-control" placeholder=""
                        value="{{this.employee.email}}">
                </div>

                <div class="form-group">
                    <label for="txtBirthday">Birthday</label>
                    <input type="text" name="raw_dob" id="txtBirthday" class="form-control" placeholder="Birthday">
                </div>

                <hr>
                <div class="form-group">
                    <label for="txtPenName">Pen name</label>
                    <input type="text" name="pen_name" id="txtPenName" class="form-control" placeholder="Pen name">
                </div>

            </div>
            <div class="card-footer text-muted">
                <a name="" id="" class="btn btn-outline-success" href="/admin/user" role="button">
                    <i class="bi bi-skip-backward-fill"></i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check2"></i>
                    save
                </button>

            </div>
        </div>
    </div>
</form>