{{#section 'js'}}
<script>
    // alert('Hello');
</script>
{{/section}}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row home_slider">
                <!-- Swiper -->
                <div class="swiper mySwiper" style="height: 450px;">
                    <div class="swiper-wrapper">
                        {{#each featuredArticles}}
                        <div class="swiper-slide">
                            <a href="/article_detail?id={{article_id}}" style="width: 100%; height: 100%;" class="premium_container">
                                <img class="d-block w-100" src="{{image_url}}" alt="First slide">
                                    {{#if is_premium}}
                                    <span class="premium_block">
                                        <img src="/public/images/icon/smallwhitecrown.png" alt="" class="imgPremiumMain">
                                    </span>
                                    {{/if}}
                            </a>
                            <div class="swiper-caption" style="height: 120px;">
                                <div class="">
                                    <a class="home_slider_category"
                                        href="/article_list/byCategory?id={{category_id}}">{{category_name}}</a>
                                    <a class="ml-3 home_slider_time">{{formatDate_thu published_date}}</a>
                                </div>
                                <a class="home_slider_title" href="/article_detail?id={{article_id}}">{{title}}
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <!-- Navigation buttons -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <h1 class="my_sider_title">Tin mới</h1>
            {{#each newestInCategories}}
            <hr>
            <div class="container list_grid">
                <div class="">
                </div>
                <div class="row d-flex premium_container">
                    <a href="/article_detail?id={{article_id}}" class="premium_container">
                        <img class="list_grid_image" src="{{image_url}}" alt="">
                        {{#if is_premium}}
                            <span class="premium_top10">
                                <img src="/public/images/icon/whiteCrown.png" alt="" class="imgPremiumMain">
                            </span>
                        {{/if}}
                    </a>
                    <div class="ml-3" style="flex:1;">
                        <a class="list_grid_title" href="/article_detail?id={{article_id}}">{{title}}
                        </a>
                        <p class="list_grid_abstract">
                            {{abstract}}
                        </p>
                        <div class="row ml-3">
                            <p class="list_grid_date">{{formatDate_nothu published_date}}</p>
                            <a class="list_grid_category ml-3"
                                href="/article_list/byCategory?id={{category_id}}">{{category_name}}</a>
                        </div>
                    </div>

                </div>
            </div>

            {{/each}}

        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header my_sider_title">
                    Đọc nhiều
                </div>
                <div class="card-body">
                    {{#each mostViewedArticles}}
                    <div class="row top_article_content d-flex">
                        <div class="">
                            <a href="/article_detail?id={{article_id}}" class="premium_mostRead_container" >
                                <img class="top_article_content_image " src="{{image_url}}" alt="">
                                {{#if is_premium}}
                                <span class="premium_block_mini mb-1">
                                    <img src="/public/images/icon/crown.png" alt="" width="30%">
                                     Premium
                                </span>
                                {{/if}}
                            </a>
                        </div>
                        <div class="ml-3" style="flex:1;">
                            <h5 class="top_article_content_title">
                                <a href="/article_detail?id={{article_id}}">
                                    {{title}}
                                </a>
                            </h5>

                            <div class="row ml-1">
                                <p class="top_article_content_time">{{formatDate_nothu published_date}}</p>
                                <a class="top_article_content_time ml-3"
                                    href="/article_list/byCategory?id={{category_id}}">{{category_name}}</a>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-4">
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="layout_new">
        <h1 class="layout_new_head">Top 10 danh mục</h1>
        <div class="row ">

            {{#each newestInCategories}}
            <div class="col-6">

                <div class="container top_category">
                    <div class="row top_category_name">
                        <a href="/article_list/byCategory?id={{category_id}}">{{category_name}}</a>
                    </div>
                    <div class="row top_category_content d-flex ">
                        <div class="premium_container">
                            <a href="/article_detail?id={{article_id}}" class="">
                                <img class="top_category_content_image " src="{{image_url}}" alt="">
                                {{#if is_premium}}
                                <span class=" premium_top10">
                                    <img src="/public/images/icon/smallwhitecrown.png" alt="" class="imgPremiumMain" width="10%">
                                </span>
                                {{/if}}
                            </a>
                        </div>

                        <div class="ml-3" style="flex: 1;">
                            <h1 class="top_category_content_title">
                                <a href="/article_detail?id={{article_id}}">
                                    {{title}}
                                </a>
                            </h1>
                            <p class="top_category_content_abstract">
                                {{abstract}}
                            </p>
                            <p class="top_category_content_time">
                                {{formatDate_nothu published_date}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {{/each}}

        </div>
    </div>
    <script>
        const swiper = new Swiper('.mySwiper', {
            loop: true,
            autoplay: {
                delay: 3000,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            slidesPerView: 1,
            spaceBetween: 10,
        });
    </script>

</div>