{{#section 'css'}}
<link rel="stylesheet" href="/public/css/userForm.css">
{{/section}}
{{#section 'js'}}
<script src="/public/js/userForm.js"></script>
<script>
    var userData = {{{ json user }}};
    $(document).ready(function () {
        initializeUserForm("subscriber");
    });
</script>

{{/section}}

<form id="frmUser" action="" method="post">
    <div class="container col-8">
        <div class="card">
            <div class="card-header profile_container_header d-flex">
                <h4 class="mr-3 mt-2">Thông tin tài khoản</h4>
                <img src="/public/images/icon/icons8-pencil-40.png" alt="" width="4%">
            </div>
            <div class="card-body profile_container_body ml-4 " style="font-weight: 600; ">

                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtUser_id">ID người dùng</label>
                    <input type="text" name="user_id" id="txtUser_id" class="form-control custom_input_profile mr-5 "
                        placeholder="" readonly required value="{{user.user_id}}">
                </div>
                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtUsername">Username</label>
                    <input type="text" name="username" id="txtUsername" class="form-control custom_input_profile mr-5"
                        placeholder="" required value="{{user.username}}">
                </div>

                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtPassword">Mật khẩu</label>
                    <input type="password" name="password" id="txtPassword"
                        class="form-control custom_input_profile mr-5" placeholder="" required value="">
                </div>

                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtPasswordConfirm">Xác nhận mật khẩu</label>
                    <input type="password" id="txtPasswordConfirm" class="form-control custom_input_profile mr-5"
                        placeholder="" required value="">
                </div>

                <div class="form-group d-flex justify-content-between mb-4 ">
                    <label for="txtName">Họ và tên</label>
                    <input type="text" name="fullname" id="txtName" class="form-control custom_input_profile mr-5"
                        placeholder="" required value="{{user.fullname}}">
                </div>

                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtEmail">Email</label>
                    <input type="text" name="email" id="txtEmail" class="form-control custom_input_profile mr-5"
                        placeholder="" required value="{{user.email}}">
                </div>

                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtPhone">Số điện thoại</label>
                    <input type="text" name="phone_number" id="txtPhone" class="form-control custom_input_profile mr-5"
                        placeholder="" required value="{{user.phone_number}}">
                </div>

                <div class="form-group d-flex justify-content-between ">
                    <label for="txtBirthday">Ngày sinh</label>
                    <input type="text" name="raw_dob" id="txtBirthday" class="form-control custom_input_profile mr-5"
                        required value="{{user.birth_date}}">
                </div>
                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtExpiration">Ngày hết hạn Premium</label>
                    <input type="text" name="raw_expiration" id="txtExpiration"
                        class="form-control custom_input_profile mr-5" placeholder="" required value="{{user.expiry_date}}">
                </div>
            </div>
            <div class="button-container_Add mb-5">
                <button type="submit" class="btnSaveEdit btnActionEdit ">
                    <img src="/public/images/icon/icons8-save-100.png" alt="" width="20%">
                    Lưu thay đổi
                </button>
            </div>
        </div>
    </div>
</form>