{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    $(document).ready(function () {
        $('#txtBirthday').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            mask: true,
        }).val(formatYMD('{{this.user.birth_date}}'));


        var oldUsername = "{{this.user.username}}";
        var oldEmail = "{{this.user.email}}";

        $('#frmAdduser').on('submit', function (e) {
            e.preventDefault();
            const username = $('#txtUsername').val();
            const email = $('#txtEmail').val();
            const password = $('#txtPassword').val();
            const passwordConfirm = $('#txtPasswordConfirm').val();
            const fullname = $('#txtName').val();

            if (username.length === 0) {
                alert('username is required');
                return;
            }

            if (password.length === 0) {
                alert('password is required');
                return;
            }

            if (password !== passwordConfirm) {
                alert('Mật khẩu và xác nhận mật khẩu không khớp.');
                return;
            }

            if (fullname.length === 0) {
                alert('fullname is required');
                return;
            }

            $.getJSON('/account/is-available?username=' + username, function (data) {
                if (data && username != oldUsername) {
                    alert('This username have been used for another account. Please try another email.');
                } else {
                    $.getJSON('/account/is-available-email?email=' + email, function (data) {
                        if (data && email != oldEmail) {
                            alert('This email have been used for another account. Please try another email.');
                        } else {
                            $('#frmAdduser').off('submit').submit();  // Corrected selector syntax
                        }
                    });
                }
            });
        });
    });
</script>
{{/section}}

<form id="frmAdduser" action="" method="post">
    <div class="container col-8" >
        <div class="card">
            <div class="card-header profile_container_header d-flex">
                <h4 class="mr-3 mt-2">Profile</h4>
                <img src="/public/images/icon/icons8-pencil-40.png" alt="" width="4%">
            </div>
            <div class="card-body profile_container_body ml-4 "style="font-weight: 600; " >
                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtUser_id">User ID</label>
                    <input type="text" name="user_id" id="txtUser_id" class="form-control custom_input_profile mr-5 " placeholder="" readonly
                        value="{{this.user.user_id}}">
                </div>
                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtUsername">Username</label>
                    <input type="text" name="username" id="txtUsername" class="form-control custom_input_profile mr-5" placeholder=""
                        value="{{this.user.username}}">
                </div>

                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtPassword">Password</label>
                    <input type="password" name="password" id="txtPassword" class="form-control custom_input_profile mr-5"  placeholder=""
                        value="{{this.user.password}}">
                </div>

                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtPasswordConfirm">Confirm password</label>
                    <input type="password" id="txtPasswordConfirm" class="form-control custom_input_profile mr-5" placeholder=""
                        value="{{this.user.password}}">
                </div>

                <div class="form-group d-flex justify-content-between mb-4 ">
                    <label for="txtName">Fullname</label>
                    <input type="text" name="fullname" id="txtName" class="form-control custom_input_profile mr-5" placeholder=""
                        value="{{this.user.fullname}}">
                </div>

                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtEmail">Email</label>
                    <input type="text" name="email" id="txtEmail" class="form-control custom_input_profile mr-5" placeholder=""
                        value="{{this.user.email}}">
                </div>

                <div class="form-group d-flex justify-content-between mb-4">
                    <label for="txtPhone">Phone number</label>
                    <input type="text" name="phone_number" id="txtPhone" class="form-control custom_input_profile mr-5" placeholder=""
                        value="{{this.user.phone_number}}">
                </div>

                <div class="form-group d-flex justify-content-between ">
                    <label for="txtBirthday">Birthday</label>
                    <input type="text" name="raw_dob" id="txtBirthday" class="form-control custom_input_profile mr-5"
                        value="{{this.user.birth_date}}">
                </div>
            </div>
            <div class="button-container_Add mb-5">
                <button type="submit" class="btnSaveEdit btnActionEdit ">
                    <img src="/public/images/icon/icons8-save-100.png" alt="" width="20%" >
                    Save
                </button>
            </div>
        </div>
    </div>
</form>